/*----------- Forms -------------*/
form button{
  display: inline-block;
  border: none;
  line-height: 1;
  padding: 10px 15px;
  font-size: 12px;
  color: rgba(255,255,255,0.87);
  background-color: #076086;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(.35,0,.25,1);
  transition-timing-function: cubic-bezier(.35,0,.25,1);
  -webkit-transition-property: background-color,fill,color;
  transition-property: background-color,fill,color;
  text-align: center;
  font-weight: 700;
}

.form-div{
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

.form-div.form-div-child{
  padding-left: 30px;
}

.form-div label{
  font-size: 12px;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.form-div .form-input{
  display: block;
  margin: 0;
  background: none;
  padding: 2px 2px;
  border-width: 0 0 1px;
  line-height: 26px;
  height: 30px;
  border-radius: 0;
  border-style: solid;
  border-color: #ddd;
  width: 100%;
  box-sizing: border-box;
  float: left;
}

.form-div .form-checkbox,
.form-div .form-radio{
  display: inline-block;
  background: none;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  vertical-align: middle;
  margin-right: 10px;
}

.form-div .form-input:focus{
  border-color: #076086;
}

.form-div input[type="radio"] + label,
.form-div input[type="checkbox"] + label{
  color: #000;
  font-size: 14px;
}

.form-div input[type="radio"] + p{
  color: #000;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
}

.form-div.form-div-icon{
  display: flex;
  width: 100%;
  align-items: center;
}

.form-div.form-div-icon .input-icon{
  width: 30px;
  padding-top: 5px;
}

.form-div.form-div-icon .input-icon .oi{
  font-size: 20px;
}

.form-div.form-div-icon input{
  flex: 1;
}

.form-div select,
.form-div input[type="text"],
.form-div input[type="number"],
.form-div input[type="password"],
.form-div textarea{
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 2px;
  height: 34px;
  min-height: unset;
  padding: 5px 10px;
  color: #222;
  font-size: 14px;
}
/*-------------------------------*/